body
{
	margin-top:	0px;
	margin-bottom:	0px;
	margin-left:	0px;
	margin-right:	0px;

	padding-top:	0px;
	padding-bottom:	0px;
	padding-left:	0px;
	padding-right:	0px;
}

h1, h2, h3
{
	text-align:	center;
	margin:		0px;
	padding:	0px;
}

h1
{
	font-size:	40px;
}

h2
{
	font-size:	38px;
}

h3
{
	font-size:	36px;
}

img
{
	display:	block;
	margin-left:	auto;
	margin-right:	auto;
	
	padding-top:	20px;
	padding-bottom:	0px;
	
	padding-left:	0px;
	padding-right:	0px;

	height:		350px;
	max-width:	900px;
}

.title
{
        top:         	0px;
        left:           0px;
        right:          0px;
        margin-left:    0px;
        margin-right:   0px;

	height:		100px;
	background-color:	lightblue;
}

.content
{
	height:		400px;
	background-color:	lightgreen;
	margin-left:	0px;
	margin-right:	0px;
	margin-bottom:	30px;
}

.quote
{
	text-align:	center;
	font-size:	26px;
	font-style:	oblique;
	margin-right:	50px;
}

.author
{
	text-align:	right;
	font-size:	20px;
	font-family:	"Courier New";
	margin-right:	50px;
}

.copyright
{
	position:	relative;
	top:		auto;
	bottom:		0px;
	left:		0px;
	right:		0px;
	margin-bottom:	0px;
	margin-left:	0px;
	margin-right:	0px;
	vertical-align:	bottom;

	text-align:	center;
	font-size:	16px;
	font-family:	"Courier New";

	color:		rgb(0,0,255);
	background-color:	pink;
}

