/*=== Section = Slide === */
section
{
	display:	-webkit-box;
	display:	-ms-flexbox;
	display:	flex;
	-webkit-box-orient:	vertical;
	-webkit-box-direction:	normal;
	-ms-flex-direction:	column;
	flex-direction:		column;
/*	-webkit-box-pack:	center;
	-ms-flex-pack:		center;
	justify-content:	center;*/
	min-height:		100vh;
	/*Fullscreen*/
	/* Prototyping? min-height: 720px (Baseline: 8px = .8rem)*/
	padding:	0rem;
	/*Fixed/Visible header? padding-top: 12rem; */
	page-break-after:	always;
	position:		relative;
	word-wrap:		break-word;
}

.background
{
	background-repeat	: no-repeat;
	background-position	: center;
	background-size		: cover;

	bottom			: 0;
	left 			: 0;
	position		: absolute;
	right			: 0;
	top			: 0;
	z-index			: -1;
	background-image	: url('https://drive.google.com/uc?export=view&id=1xoPeg_LphoAbTLaLRZ6aBhYvANOfDOfk');
}
