/*-- fadeIn -- */
/*
@-webkit-keyframes fadeIn 
{
	from	{ opacity: 0; }
	to	{ opacity: 1; }
}

@keyframes fadeIn
{
	from	{ opacity: 0;}
	to	{ opacity: 1;}
}

.fadeIn
{
	-webkit-animation:	fadeIn 1s;
	animation:		fadeIn 1s; 
}
*/
/* Fade transition to all slides*/
/** = All HTML elements will have those styles.*/
section *
{
	-webkit-animation:	fadeIn	.6s	ease-in-out;
	animation:		fadeIn	.6s	ease-in-out;
}

section	.background,
{
	-webkit-animation-duration:	0s;
	animation-duration:		0s;
}


